.container {
    width: 60%;
    margin: 0 20%;
    word-wrap: wrap;
}

.center {
    text-align: center;
}

.img {
    width: 100%;
    height: 400px;
}

@media all and ( max-width: 750px ) {
    .img {
        width: 100%;
        margin: auto;
        height: 300px;
    }
    .container {
    width: 80%;
    margin: auto;
    word-wrap: wrap;
}
}